@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100%;
}

body {
  min-width: 0 !important;
  min-height: 0 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.img-portrait {
  overflow: hidden;
  padding-top: calc(4 / 4 * 100%);
  position: relative;
}

.img-portrait img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-portrait-01 {
  overflow: hidden;
  padding-top: calc(16 / 9 * 100%);
  position: relative;
}

.img-portrait-01 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-bg {
  transition: opacity 1s ease;
  height: 100%;
  width: 100%;
}
.img-bg img {
  transition: opacity 1s ease;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-bg.transitioning {
  opacity: 0;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000, 0 0 25px rgba(255, 255, 255, 0.87), 3px 8px 20px black;
}


.flip-card {
  width: 380px; /* Adjust width as needed */
  height: 550px; /* Adjust height as needed */
  position: relative;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Add transition for smooth animation */
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

